<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="AndroidRunConfigurationType" factoryName="Android Application">
    <module name="app" />
    <option name="ACTIVITY_CLASS" value="" />
    <option name="ACTIVITY_EXTRA_FLAGS" value="" />
    <option name="MODE" value="default_activity" />
    <option name="DEPLOY" value="true" />
    <option name="ARTIFACT_NAME" value="" />
    <option name="TARGET_SELECTION_MODE" value="SHOW_DIALOG" />
    <option name="USE_LAST_SELECTED_DEVICE" value="false" />
    <option name="PREFERRED_AVD" value="" />
    <option name="USE_COMMAND_LINE" value="true" />
    <option name="COMMAND_LINE" value="" />
    <option name="WIPE_USER_DATA" value="false" />
    <option name="DISABLE_BOOT_ANIMATION" value="false" />
    <option name="NETWORK_SPEED" value="full" />
    <option name="NETWORK_LATENCY" value="none" />
    <option name="CLEAR_LOGCAT" value="false" />
    <option name="SHOW_LOGCAT_AUTOMATICALLY" value="true" />
    <option name="SKIP_NOOP_APK_INSTALLATIONS" value="true" />
    <option name="FORCE_STOP_RUNNING_APP" value="true" />
    <option name="SELECTED_CLOUD_MATRIX_CONFIGURATION_ID" value="0" />
    <option name="SELECTED_CLOUD_MATRIX_PROJECT_ID" value="" />
    <option name="SELECTED_CLOUD_DEVICE_CONFIGURATION_ID" value="0" />
    <option name="SELECTED_CLOUD_DEVICE_PROJECT_ID" value="" />
    <option name="IS_VALID_CLOUD_MATRIX_SELECTION" value="false" />
    <option name="INVALID_CLOUD_MATRIX_SELECTION_ERROR" value="" />
    <option name="IS_VALID_CLOUD_DEVICE_SELECTION" value="false" />
    <option name="INVALID_CLOUD_DEVICE_SELECTION_ERROR" value="" />
    <option name="CLOUD_DEVICE_SERIAL_NUMBER" value="" />
    <method />
  </configuration>
</component>